<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Menu Setting</title>
</head>
<body>
    <div ui-tree-handle>
        <a class="btn btn-success btn-xs" data-nodrag><span class="fa" ng-class="{'fa-chevron-right': collapsed, 'fa-chevron-down': !collapsed}"></span></a>
        {{node.Bgsm_Menu_Nama}}
        <label class="pull-right"><input type="checkbox" value="{{node.Bgsm_Menu_Id}}" class="cekIt" ng-model="node.Status" ng-change="automate(node,node.Status)" ng-checked="node.Status === 1" ng-true-value="1" ng-false-value="0"></label>
    </div>
    <ol ng-model="node.Childs" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.Childs" ui-tree-node ng-include="'nodes_renderer.html'">
        </li>
    </ol>
    <script type="text/ng-template" id="nodes_renderer.html">
        <div ui-tree-handle>
            <a class="btn btn-success btn-xs" data-nodrag><span class="fa" ng-class="{'fa-chevron-right': collapsed, 'fa-chevron-down': !collapsed}"></span></a>
            {{node.Bgsm_Menu_Nama}}
            <label class="pull-right"><input type="checkbox" value="{{node.Bgsm_Menu_Id}}" class="cekIt" ng-model="node.Status" ng-change="automate(node,node.Status)" ng-checked="node.Status === 1" ng-true-value="1" ng-false-value="0"></label>
        </div>
        <ol ng-model="node.Childs" ng-class="{hidden: collapsed}">
            <li ng-repeat="node in node.Childs" ui-tree-node
                ng-include="'nodes_renderer.html'">
            </li>
        </ol>
    </script>
</body>
</html>
