<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsOuthSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://portalsi.pelindo.co.id/wsouth.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsOuthSoap"
                contract="ServiceP3UserManagement.wsOuthSoap" name="wsOuthSoap" />
        </client>
    </system.serviceModel>
</configuration>